{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Content Goes here -->


<div class="container-fluid d-flex flex-column">

    <!-- Hero Section -->
    <section id='hero-section' class="container my-5 col-12" aria-labelledby="hero-section">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg flex-lg-row-reverse">
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="static/images/leandro-barreto-nomAp6_KVXU-unsplash.jpg"
                    alt="Map image with pinned locations" width="720">
            </div>
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Map Your Adventures, Share Your Stories</h1>
                <p class="lead">Discover new places, share your travel experiences, and connect with fellow
                    explorers.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    {% if not user.is_authenticated %}
                    <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">
                        Add Your Trip
                    </a>
                    {% else %}
                    <a href="{% url 'user' %}" class="btn btn-outline-primary btn-lg px-4 me-md-2 fw-bold">
                        Add Your Trip
                    </a>
                    {% endif %}
                    <a class="btn btn-outline-secondary btn-lg px-4 me-md-2 fw-bold" aria-current="page"
                        href="{% url 'gallery' %}">
                        Visit us
                    </a>
                </div>
            </div>

        </div>
    </section>

    <!-- Testimonials Section -->
    <section id="carousel-testimonials" class="row my-0 bg-body-tertiary" aria-labelledby="testimonials-title">

        <div class="container py-0 col-12  z-1">

            <h2 id="testimonials-title" class="visually-hidden">Testimonials</h2>
            <div id="testimonials" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner ">
                    <div class="carousel-item active ">
                        <div class="testimonial-card text-center">
                            <p class="testimonial-text">"This platform made my trip to Europe unforgettable!"</p>
                            <div class="testimonial-author">
                                Alex R.
                                <small>Travel Enthusiast</small>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="testimonial-card text-center">
                            <p class="testimonial-text">"Sharing my travel notes has never been easier!"</p>
                            <div class="testimonial-author">
                                Jamie L.
                                <small>Travel Blogger</small>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="testimonial-card text-center">
                            <p class="testimonial-text">"An essential tool for every traveler!"</p>
                            <div class="testimonial-author">
                                Morgan S.
                                <small>Adventurer</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Map section -->
    <section id="map-section" class="row my-4" aria-labelledby="map-title">
        <div class="col-12 text-center">
            <h2 id="map-title" class="text-center py-0 m-2">Explore the World with Our Interactive Map</h2>
            <div id="map" class="c_map mx-auto container-fluid"></div>
        </div>
    </section>

</div>

<!--TODO: create scripts.js file -->

<!-- Leaflet -->
{{ trips | json_script:"trips_json" }}

{% if not user.is_authenticated %}

    <script type='text/javascript'>
        // Greenwich Coordinates default
        var map = L.map('map', { zoomControl: true }).setView([51.4934, 0.0098], 3);

        // Creating scale control
        var scale = L.control.scale();
        scale.addTo(map);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        let locations = JSON.parse(document.getElementById('trips_json').textContent);
        

        if (!Array.isArray(locations)) {
            locations = [locations];
        }
        console.log(locations)

        let markers = L.markerClusterGroup();
        if (Object.keys(locations)) {
            locations.forEach(element => {
                let marker = L.marker([element.lat, element.lon])
                    .bindPopup(
                        '<div>' +
                        //<img src='img/" + feature.properties.img_name + "' width='259'/>+
                        '<b>' + element.place + ', ' + element.country + '</b>' +
                        '</br>' +
                        '<b>' + element.trip_category + '</b>' +
                        '</br>' +
                        'From: ' + element.start_date + '</br>' +
                        'To: ' + element.end_date +
                        '</br>' +
                        "<a href='{% url 'account_login' %}' rel='noopener noreferrer'>" + "More..." + "</a>" +
                        '</div>'
                    );
                markers.addLayer(marker);
            })
            map.addLayer(markers);

            if (Object.keys(locations).length > 1) {
                var bounds = markers.getBounds();
                if (bounds.isValid()) {
                    map.fitBounds(bounds, maxZoom = 8);
                }
            }

            markers.on('click', function (e) {
                map.flyTo(e.latlng, 6);
            });
        }

    </script>

{% else %}
    
    <script type='text/javascript'>
        // Greenwich Coordinates default
        var map = L.map('map', { zoomControl: true }).setView([51.4934, 0.0098], 3);

        // Creating scale control
        var scale = L.control.scale();
        scale.addTo(map);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        let locations = JSON.parse(document.getElementById('trips_json').textContent);
        if (!Array.isArray(locations)) {
            locations = [locations];
        }
        console.log(locations)

        const markers = L.markerClusterGroup();
        if (Object.keys(locations)) {
            locations.forEach(element => {
                const marker = L.marker([element.lat, element.lon])
                    .bindPopup(
                        '<div>' +
                        //<img src='img/" + feature.properties.img_name + "' width='259'/>+
                        '<b>' + element.place + ', ' + element.country + '</b>' +
                        '</br>' +
                        '<b>' + element.trip_category + '</b>' +
                        '</br>' +
                        'From: ' + element.start_date + '</br>' +
                        'To: ' + element.end_date +
                        '</br>' +
                        "<a href='{% url 'gallery' %}' rel='noopener noreferrer'>" + "More..." + "</a>" +
                        '</div>'
                    );
                markers.addLayer(marker);
            })
            map.addLayer(markers);

            if (Object.keys(locations).length > 1) {
                var bounds = markers.getBounds();
                if (bounds.isValid()) {
                    map.fitBounds(bounds, maxZoom = 8);
                }
            }

            markers.on('click', function (e) {
                map.flyTo(e.latlng, 6);
            });
        }

    </script>

{% endif %}


{% endblock %}