{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Content Goes here -->

<div class="container-fluid">
    <div class="row">
        <!-- Main Content: Dashboard -->

        <!-- Dashboard Header -->
        <div class="row mb-3 mt-2">
            <div class="col-md-12 text-center">
                <h2>Welcome, {{ user.username }}</h2>
                <p>Here's a quick overview of your trips and activities.</p>
            </div>
        </div>

        <!-- Statistics Section -->
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="card text-center mb-1 h-100">
                        <div class="card-body">
                            <h5 class="card-title"># Trips</h5>
                            <hr>
                            <span class="card-text display-5">{{ trips | length }}</span>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="card text-center mb-1 h-100">
                        <div class="card-body">
                            <h5 class="card-title"># Testimonials</h5>
                            <hr>

                            <div class="container d-flex justify-content-between">
                                <span class="float-start">Active</span>
                                <span class="float-end">
                                    {{ testimonials_count_active|default:0 }}
                                </span>
                            </div>
                            
                            <div class="container d-flex justify-content-between">
                                <span class="float-start">Pending</span>
                                <span class="float-end">
                                    {{ testimonials_count_pending|default:0 }}
                                </span>
                            </div>
                            <div class="container d-flex justify-content-between">
                                <span>All</span>
                                <span class="'float-end">
                                    {{ testimonials_count_all|default:0 }}
                                </span>
                            </div>
                           
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center mb-1 h-100">
                        <div class="card-body">
                            <h5 class="card-title"># Photos</h5>
                            <hr>
                            <p class="card-text display-5">{{ images_count|default:0 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Button to trigger modal -->
        <div class="container text-center">
            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#addTripModal">
                Add Trip
            </button>
        </div>

        <!-- Add Trip Form Modal -->
        <div class="modal fade" id="addTripModal" tabindex="-1" aria-labelledby="addTripModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 card mb-2 mt-2">
                            <div class="card-body">
                                <form id="addTripForm" method="POST" style="margin-top: 1.2em;">
                                    {% csrf_token %}
                                    {{ add_trip_form | crispy }}
                                    <button id="cancelButton" type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">
                                        Close
                                    </button>
                                    <button id="submitButton" type="submit" class="btn btn-signup float-end">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Trip Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">

                {% for trip in trips %}

                <!-- Modal for Image Carousel -->
                <div class="modal fade" id="tripModal" tabindex="-1" aria-labelledby="tripModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>Memories from {{ trip }}</h3>
                                    </div>
                                    <div>
                                        <div id="tripCarousel" class="carousel slide" data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                {% for image in trip.images.all  %}
                                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                                    <img src="{{ image.image.url }}" alt="{{ image.title }}"
                                                        class="mx-auto d-block w-100 img-fluid border rounded">
                                                </div>
                                                {% empty %}
                                                <div class="alert alert-warning" role="alert">
                                                    No images available for this trip.
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <button class="carousel-control-prev" type="button"
                                                data-bs-target="#tripCarousel" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button"
                                                data-bs-target="#tripCarousel" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>


                                    <div>
                                        {% if image.title or image.description %}
                                        <div class="carousel-caption d-none d-md-block">
                                            {% if image.title %}
                                            <h5>{{ image.title }}</h5>
                                            {% endif %}
                                            {% if image.description %}
                                            <small>
                                                {{ image.description }}
                                            </small>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                    </div>

                                    <div class="card-body">
                                        <h5 class="card-title">{{ image.title }}</h5>

                                        <p class="card-text">
                                            {{ image.description }}
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="float-end card-text text-muted">
                                            Uploaded: {{ image.uploaded_at }}
                                        </small>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 d-flex flex-column mb-4">
                    <div class="card my-1 h-100">
                        <div class="card-header d-flex flex-row justify-content-between align-items-center">
                            <div>
                                {{ trip.place }}, {{ trip.country }} <span class="fw-bold red-o"> | </span>
                                <span class="fw-light">{{ trip.trip_category }}</span>
                            </div>
                            {% if trip.trip_status == 'Planned' %}
                            <span class="text-primary">Planned</span>
                            {% elif trip.trip_status == 'Ongoing' %}
                            <span class="text-danger">Ongoing</span>
                            {% else %}
                            <span class="text-success">Completed</span>
                            {% endif %}
                        </div>

                        <div class="card-body">
                            <div>
                                <h5 class="card-title">{{ trip.title }}</h5>
                                <div class="d-flex flex-column align-items-center">
                                    <div class="card-text text-muted">
                                        From: {{ trip.start_date }}
                                        <span class="fw-bold red-o"> | </span>
                                        To: {{ trip.end_date }}
                                    </div>
                                </div>
                            </div>

                            <div class="mt-2 text-center">
                                <a type="button" class="btn btn-edit btn-sm float-start"
                                    href="{% url 'edit_page' trip.id %}">
                                    Edit
                                </a>

                                <a type="button" class="btn btn-more btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#tripModal">
                                    More
                                </a>

                                <a href="#" class="btn btn-delete btn-sm float-end" data-trip_id="{{ trip.id }}"
                                    type="submit" method="POST">
                                    Delete
                                </a>

                            </div>
                        </div>

                        <div class="card-footer text-body-secondary d-flex justify-content-between">
                            <small class="float-end card-text text-muted">
                                Photos: {{ trip.images.all | length }}
                            </small>
                            <small class="float-end card-text text-muted">Posted: {{ trip.created_on | timesince }}
                                ago
                            </small>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:4 and not forloop.last %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>

    {% if trips.has_other_pages %}
    <nav aria-label="Page navigation conatiner">
        <ul class="pagination justify-content-center">
            {% if trips.has_previous %}
            <li><a href="?page={{ trips.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %} {% if trips.has_next %}
            <li><a href="?page={{ trips.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}


    <!-- Delete confirmation modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your comment? This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>


</div>



{% endblock content %}


{% block extras %}
<script src="{% static 'js/manage_trips.js' %}" type="text/javascript"></script>
{% endblock %}