{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Content Goes here -->

<!-- Main Content: Dashboard -->
<div class="container mt-5">
    <!-- Dashboard Header -->
    <div class="row mb-4">
        <div class="col-md-12 text-center">
            <h1>Welcome, {{ user.username }}</h1>
            <p>Here's a quick overview of your trips and activities.</p>
        </div>
    </div>

    <!-- Statistics Section -->
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Trips</h5>
                    <p class="card-text display-4">{{ trips | length }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Notes</h5>
                    <p class="card-text display-4">{{ trip.notes.count|default:0 }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Photos</h5>
                    <p class="card-text display-4">{{ trip.images.count|default:0 }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Recent Trips Section -->
    <div class="row mb-4">
        <div class="col-md-12">
            <h3>My trips</h3>
            <div class="list-group">
                {% for trip in trips %}
                <a href="#" class="list-group-item list-group-item-action mb-3" data-bs-toggle="modal"
                    data-bs-target="#tripModal{{ trip.id }}">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ trip.title }}</h5>
                        <small>{{ trip.created_on|timesince }} ago</small>
                    </div>
                    <p class="mb-1">{{ trip.description }}</p>
                    <small>{{ trip.images.count|default:0 }} photos, {{ trip.notes.count|default:0 }} notes.</small>
                    <div class="d-flex justify-content-between">
                        <div>
                            {% if trip.trip_category == 'Leisure' %}
                            <span class="badge bg-primary">Leisure</span>
                            {% elif trip.trip_category == 'Business' %}
                            <span class="badge bg-primary">Business</span>
                            {% elif trip.trip_category == 'Adventure' %}
                            <span class="badge bg-primary">Adventure</span>
                            {% elif trip.trip_category == 'Family' %}
                            <span class="badge bg-primary">Family</span>
                            {% else %}
                            <span class="badge bg-primary">{{ trip.trip_category }}</span>
                            {% endif %}
                        </div>
                        <div>
                            {% if trip.trip_status == 'Planned' %}
                            <span class="badge bg-warning text-dark">Planned</span>
                            {% elif trip.trip_status == 'Ongoing' %}
                            <span class="badge bg-danger-subtle">Ongoing</span>
                            {% else %}
                            <span class="badge bg-success-subtle">Completed</span>
                            {% endif %}
                        </div>
                    </div>

                </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Modals for Recent Trips -->

    {% for trip in trips %}
    <div class="modal fade" id="tripModal{{ trip.id }}" tabindex="-1" aria-labelledby="tripModalLabel{{ trip.id }}"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tripModalLabel{{ trip.id }}">{{ trip.title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Images Section 
                    <div class="mb-4">
                        <h5>Photos</h5>
                        <div class="row">

                            {% for image in trip.images.all %}

                            <div class="image-container col-md-4 mb-3">
                                {% if "placeholder" in image.url %}
                                <img class="card-img-top scale" src="{% static 'images/default.jpg' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ image.image.url }}" alt="{{ image.description }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    -->

                    <!-- Images Section with Carousel -->
                    <div class="mb-4">
                        <h5>Photos</h5>
                        <div id="tripCarousel{{ trip.id }}" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                {% for image in trip.images.all %}
                                <li data-target="#tripCarousel{{ trip.id }}" data-slide-to="{{ forloop.counter0 }}"
                                    class="{% if forloop.first %}active{% endif %}"></li>
                                {% endfor %}
                            </ul>

                            <!-- Carousel inner -->
                            <div class="carousel-inner">
                                {% for image in trip.images.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    {% if "placeholder" in image.url %}
                                    <img class="d-block w-100" src="{% static 'images/default.jpg' %}"
                                        alt="placeholder image">
                                    {% else %}
                                    <img class="d-block w-100" src="{{ image.image.url }}"
                                        alt="{{ image.description }}">
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#tripCarousel{{ trip.id }}" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#tripCarousel{{ trip.id }}" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                    <!-- Notes Section -->
                    <div class="mb-4">
                        <h5>Notes</h5>
                        <div class="card">
                            <div class="card-body">
                                <p>Example note content for {{ trip.title }}.</p>
                                <!-- Add more notes as needed -->
                            </div>
                        </div>
                    </div>


                    <!-- Comments Section -->
                    <div class="mb-4">
                        <h5>Comments</h5>
                        <ul class="list-group">
                            {% for comment in trip.comments.all %}
                            <li class="list-group-item">
                                <strong> {{ comment.user }}</strong>: {{ comment.content }}
                                <span class="text-muted float-end">{{ comment.created_on }}</span>
                                <!-- Like button -->
                                <button class="btn btn-light btn-sm" 
                                    onclick="likeComment( {{ comment.id }} )">
                                    Like (<span id="like-count-{{ comment.id }}">{{ comment.likes }}</span>)
                                </button> 
                            </li>
                            {% empty %}
                                <li class="list-group-item">No comments yet.</li>
                            {% endfor %}
                        </ul>
                    </div>



                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}