{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Content Goes here -->

<div class="container-fluid">
    <div class="row">
        <!-- Main Content: Dashboard -->

        <!-- Dashboard Header -->
        <div class="row mb-2 mt-3">
            <div class="col-md-12 text-center">
                <h2>Welcome, {{ user.username }}</h2>
                <p>Here's a quick overview of your trips and activities.</p>
            </div>
        </div>

        <!-- Statistics Section -->
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="card text-center h-100">
                        <div class="card-body">
                            <h5 class="card-title"># Trips</h5>
                            <hr>
                            <span class="card-text display-5">{{ trips | length }}</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center mb-1 h-100">
                        <div class="card-body">
                            <h5 class="card-title"># Testimonials</h5>
                            <hr>

                            <div class="container">

                            

                            <div class="container d-flex justify-content-between">
                                <span class="float-start">Active</span>
                                <span class="float-end">
                                    {{ testimonials_count_active|default:0 }}
                                </span>
                            </div>

                            <div class="container d-flex justify-content-between">
                                <span class="float-start">Pending</span>
                                <span class="float-end">
                                    {{ testimonials_count_pending|default:0 }}
                                </span>
                            </div>
                            <div class="container d-flex justify-content-between">
                                <span>All</span>
                                <span class="'float-end">
                                    {{ testimonials_count_all|default:0 }}
                                </span>
                            </div>

                        </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center mb-1 h-100">
                        <div class="card-body">
                            <h5 class="card-title"># Photos</h5>
                            <hr>
                            <p class="card-text display-5">{{ images_count|default:0 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Button to trigger modal -->
        <div class="container text-center my-1">
            <button type="button" class="btn btn-primary btn-lg" 
                data-bs-toggle="modal" data-bs-target="#addTripModal">
                Add New Trip
            </button>
        </div>

        <!-- Add Trip Form Modal -->
        <div class="modal fade" id="addTripModal" tabindex="-1" 
            aria-labelledby="addTripModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 card mb-2 mt-2">
                            <div class="card-body">
                                <form id="addTripForm" method="POST" style="margin-top: 1.2em;">
                                    {% csrf_token %}
                                    {{ add_trip_form | crispy }}
                                    <button id="cancelButton" type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">
                                        Close
                                    </button>
                                    <button id="submitButton" type="submit" class="btn btn-signup float-end">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Trip Entries Column -->
        <div class="col-12 mt-1 left">
            <div class="row">

                {% for trip in trips %}

                <!-- Trip card -->
                <div class="col-lg-6 d-flex flex-column mb-3">
                    <div class="card my-0 h-100">
                        <div class="card-header d-flex flex-row justify-content-between align-items-center">
                            <div>
                                {{ trip.place }}, {{ trip.country }} 
                                <span class="fw-bold red-o"> | </span>
                                <span class="fw-light">
                                    {{ trip.trip_category }}
                                </span>
                            </div>
                            {% if trip.trip_status == 'Planned' %}
                            <span class="text-primary">Planned</span>
                            {% elif trip.trip_status == 'Ongoing' %}
                            <span class="text-danger">Ongoing</span>
                            {% else %}
                            <span class="text-success">Completed</span>
                            {% endif %}
                        </div>

                        <div class="card-body">
                            <div>
                                <h5 class="card-title">{{ trip.title }}</h5>
                                <div class="d-flex flex-column ">
                                    <p>
                                        {{ trip.description }}
                                    </p>
                                    <div class="card-text d-flex align-items-center justify-content-between fs-6 text">
                                        From: {{ trip.start_date }}
                                        <span class="fw-bold red-o">  |  </span>
                                        To: {{ trip.end_date }}
                                    </div>
                                </div>
                            </div>

                            <div  class="mt-2 justify-content-around trip-card-btns-holder">
                                <a type="button" class="btn btn-edit btn-sm float-start" 
                                    href="{% url 'edit_page' trip.id %}">
                                    Update
                                </a>

                                <a type="button" class="btn btn-more btn-sm" href="{% url 'trip_details' trip.id %}">
                                    Photos
                                </a>

                                <a href="#" class="btn btn-delete btn-sm float-end"  data-trip_id="{{ trip.id }}"
                                    data-bs-toggle="modal" data-bs-target="#deleteModal" type="submit" method="POST">
                                    Delete
                                </a>

                            </div>
                        </div>

                        <div  class="card-footer text-body-secondary d-flex justify-content-between trip-card-btns-footer">
                            <small class="float-end card-text text-muted">
                                Photos: {{ trip.images.all | length }}
                            </small>
                            <small class="float-end card-text text-muted">Posted: {{ trip.created_on | timesince }}
                                ago
                            </small>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:4 and not forloop.last %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>

    {% if trips.has_other_pages %}
    <nav aria-label="Page navigation conatiner">
        <ul class="pagination justify-content-center">
            {% if trips.has_previous %}
            <li><a href="?page={{ trips.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %} {% if trips.has_next %}
            <li><a href="?page={{ trips.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}


</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}






