{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row container col-lg-4 mt-3 offset-md-4">
  
  <h2 class="my-4 text-center">
    Update Profile
  </h2>
  
  <form  method="POST">
    {% csrf_token %}
    {{ form | crispy }}

    <div class="d-flex justify-content-between">

      <button type="submit" class="btn btn-edit me-3">
        Update
      </button>
      <button href="{% url 'profile' %}"  class="btn btn-secondary mx-3">
        Cancel
      </button>
    </div>
  
  </form>
  
 
</div>


{% endblock %}