{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block metadescription %}
<meta name="description" content="User profile page.">
{% endblock %}


{% block content %}

<!-- User Profile section -->
<section class="row container-fluid  justify-content-center w-100 my-5" aria-labelledby="user-profile-section">
    <h1 class="visually-hidden" id="user-profile-section">User profile</h1>
    <!--<div class="container h-100"> </div> -->

    <!--Submit testimonial-->
    <div class="testimonial-card col-lg-4 my-2 h-100 mx-3">

        <h2>
            User Profile
        </h2>
        <hr>

        <div class="my-4 d-flex flex-row">
            {% if not user.first_name %}
            <span class="badge c-badge bg-secondary text-light py-2 mx-2">
                First name
            </span>
            <small class="fst-italic">
                N/A
            </small>
            {% else %}
            <span class="badge c-badge bg-success text-light py-2 mx-2">
                First name
            </span>
            <span class="text-muted">
                {{ user.first_name }}
            </span>
            {% endif %}
        </div>

        <div class="my-4">
            {% if not user.last_name %}
            <span class="badge c-badge bg-secondary text-light py-2 mx-2">
                Last name
            </span>
            <small class="fst-italic">
                N/A
            </small>
            {% else %}
            <span class="badge c-badge bg-success text-light py-2 mx-2">
                Last name
            </span>
            <span class="text-muted">
                {{ user.last_name }}
            </span>
            {% endif %}
        </div>

        <div class="my-4">
            <span class="badge c-badge bg-success text-light py-2 mx-2">
                Email
            </span>
            <span class="text-muted">
                {{ user.email }}
            </span>
        </div>

        <div class="container text-center">
            <a type="button" href="{% url 'update_user_profile' %}" class="btn btn-edit btn-lg w-50 my-3">
                <!--data-bs-target="#editProfileModal data-bs-toggle="modal"" -->
                Update
            </a>
        </div>

    </div>

    <!-- Testimonials list -->
    <div class="testimonial-card col-lg-7 my-2 h-100 mx-3">

        <!-- Button to trigger add testimonial modal -->
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="m-0">
                Your testimonials
            </h2>
            <div>
                <button class="btn btn-edit px-2 w-100 float-end p-0" data-bs-toggle="modal"
                    data-bs-target="#addTestimonialModal">
                    New Testimonial
                </button>
            </div>

        </div>
        <hr>


        {% if posts %}

        <div id="posts" class="h-100">
            {% for post in posts %}
            <div class="testimonial-card container-fluid d-flex align-items-center my-3">

                <div class="container-fluid text-muted">
                    <p>
                        {{ post.body }}
                    </p>

                    <div>
                        {% if post.approved %}
                        <small class="badge c-badge bg-success float-start">Approved</small>
                        {% else %}
                        <small class="badge c-badge bg-secondary  float-start">Pending approval</small>
                        {% endif %}
                    </div>
                </div>

                <div class="container w-25">
                    <a href="#" class="btn btn-delete btn-sm float-end m-2" data-post_id="{{ post.id }}" type="submit"
                        method="POST">
                        Delete
                    </a>
                </div>

            </div>
            {% endfor %}

        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No testimonials have been posted.
        </div>
        {% endif %}

    </div>

    <!-- Add Testimonial Form Modal -->
    <div class="modal fade" id="addTestimonialModal" tabindex="-1" aria-labelledby="addTestimonialModalLabel"
        aria-describedby="addTestimonialModalLabelDescription" aria-hidden="true">
        <h2 class="visually-hidden" id="addTestimonialModalLabel">Testimonial form</h2>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="addTestimonialModalLabelDescription">
                    <div class="col-md-12 card mb-2 mt-2">
                        <div class="card-body">
                            <form id="addTestimonialForm" method="POST" style="margin-top: 1.2em;">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="addTestimonialForm">
                                {{ testimonial_form | crispy }}
                                <button id="submitButton" type="submit" class="btn btn-signup float-end">
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModalPost" tabindex="-1" aria-labelledby="deleteModalPostLabel" 
    aria-describedby="deleteModalPostLabelDescription" aria-hidden="true">
    <h1 class="visually-hidden" id="deleteModalPostLabel"> Delete Post Modal</h1>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalPostLabel">Delete testimonial?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="deleteModalPostLabelDescription">
                Are you sure you want to delete your post? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deletePostConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/manage_user.js' %}" type="text/javascript" defer></script>

{% endblock content %}