* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
   display: flex;
   flex-direction: column;
   position: relative;
   background-color: #F9FAFC;
   padding-top: 56px;
   font-family: Roboto, sans-serif;
   font: 1rem/1.4;
   height: 100%;
   width: 100%;
   min-width: 280px;
   margin-bottom: 61px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
}


#logo{
   color:rgb(5, 45, 173)
}

.navbar__base {
   z-index: 2000;
   background-color: rgba(255, 255, 255, 0.7) !important;
   backdrop-filter: blur(1px);
}


#message_trip_added {
    position: fixed;
    bottom: 80px;  
    right: 20px;  
    z-index: 2050;
    height: auto;  
    max-width: 300px;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}


.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}


main {
    flex: 1;
}


#testimonials {
    padding: 1.5rem 0;
    background: rgba(255, 255, 255, 0.9) !important;
    /*z-index: 0 !important;*/
}


#testimonials h2 {
    margin-bottom: 0.5rem;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}


.testimonial-card {
    background: #fff;
    border: none;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 0.5rem 0;
    /*z-index: -2 !important;*/ 
}


.testimonial-text {
    font-size: 18px;
    font-style: italic;
    color: #555;
    margin-bottom: 20px;
}


.testimonial-author {
    font-weight: bold;
    color: #333;
}


.testimonial-author small {
    display: block;
    font-style: normal;
    color: #666;
}


.carousel-item{
    /*z-index: -2 !important;*/
}


.carousel-inner {
    position: relative; /* Ensure carousel forms a new stacking context */
    /*z-index: 1!important;   Lower z-index to ensure it stays below the navbar */
}


.c_map{
    width: 100%;
    height: auto;
    min-height: 300px;
    min-width: 280px;
}

.red-o {
    color: #E84610;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
    width: 6rem;
}

.btn-more {
    color: #fff;
    background: #030e42;
    width: 6rem;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
    width: 6rem;
}


.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}


.btn-delete {
    color: #fff;
    background: #E84610;
    width: 6rem;
}

.c-badge{
    width: 6rem;
}


.footer__base{
    max-height: 70px;
    margin: 0;
    width: 100%; 
}


footer a i {
    color: white;
    transition: color 0.3s;
    scale: 1.1;
}


footer a:hover i {
    color: #ccc; /* Adjust the color on hover as needed */
    display:inline-block;
    scale: 1.5;
}


footer a {
    text-decoration: none; /* Remove underline from anchor tags */
    justify-content: space-between;
}


.is-invalid {
    border-color: #dc3545;
}

.error-message {
    color: #dc3545;
    display: none;  /* Initially hidden, will be shown on error */
}

.modal-backdrop {
    z-index: 9000! important; /* Ensure the backdrop is behind the modal */
}

.modal {
    z-index: 9999 ! important;  /* Ensure the modal stays on top */
}



@media (min-width: 992px) {
    .c-img {
      width: 720px; 
      height: auto;
    }
}


@media (max-width: 991px) {
    .c-img {
      width: 100%; 
      height: auto;
    }
}

