{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block metadescription %}
<meta name="description" content="Contact Us page.">
{% endblock %}

{% block content %}

<section class="row my-5 justify-content-center" aria-labelledby="contact us section">
    <div class="d-flex flex-column testimonial-card h-100 w-50 container-fluid ">

        <h1 id="contact-us-title" class="text-center">Contact Us</h1>
        <hr>

        <form method="post">
            {% csrf_token %}
            {{ contact_form | crispy }}
            <div class="text-center">
                <button type="submit" class="btn btn-signup">
                    Submit
                </button>
            </div>
        </form>

    </div>
</section>

{% endblock content %}