{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<!-- Content Goes here -->

<section class="row my-5 justify-content-center" aria-labelledby="contact us section">
    <div class="d-flex flex-column testimonial-card h-100 w-50 container-fluid ">

        <h3 class="text-center">Contact Us</h3>
        <hr>

        <form method="post">
            {% csrf_token %}
            {{ contact_form | crispy }}
            <button type="submit" class="btn btn-signup">Submit</button>
        </form>

    </div>

</section>

{% endblock %}